/* HEADER TOP  */

.header__top
{
    height: 32px;
    background-color:var(--primary-color);
    display: flex;
    align-items: center;
    text-align: right;
}

.header__top a
{
    text-decoration: none;
    color:var(--header-color);
    font-size:13px;
    font-weight: 700;
    font:'Nunito-Regular';
    padding: 0 15px;
}

.header__top-link:hover 
{
    color:#e56266;
}

/* HEADER CONTENT  */

.header__content-wrap
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 104px;
}

.header__content-logo-img
{
    width:170px;
    padding-right: 30px;
    align-self: flex-start;
}

.input__group
{
    display: flex;
    border: 2px solid #ffb0bd;
    border-radius: 8px;
    align-items: stretch;
    width:600px;
    height:38px;
    margin-top:12px;
    position: relative;
}

.input__group-btn
{
    position: absolute;
    right:0;
    top:-1px;
}

.header__content-input
{
    border:none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 14px;
    padding-left: 14px;
    width:500px;
    outline: none;
}

.btn
{
    background-color: var(--primary-color);
    color:white;
    border:none;
    padding:10px 12px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn:hover 
{
    background-color: #fd8fa1;
    cursor: pointer;
}

.header__content-research
{
    margin-top:4px;
}

.header__content-research-link
{
    text-decoration: none;
    font-size:14px;
    color:black;
    padding: 0 5px;
}

.header__content-research-link:hover 
{
    color:var(--primary-color);
}

.header__content-login-btn
{
    border-right: 2px solid black;
}

.header__content-login-btn, .header__content-register-btn
{
    text-decoration: none;
    color:black;
    font-weight:600;
    padding: 0 5px;
    font-size: 16px;
}

.header__content-login-btn:hover, .header__content-register-btn:hover 
{
    color:var(--primary-color);
}

.header__content-login-btn:hover 
{
    border-right: 2px solid var(--primary-color);
}

.header__content-login
{
    margin-top:-10px;
}

.header__content-cart
{
    margin-top:-14px;
    margin-right: 12px;
}

.header__content-cart-icon
{
    color:var(--primary-color);
    transform:scale(1.8);
}

.navigation
{
    height: 44px;
    background-color: var(--primary-color);
    display: flex;
    align-items:center;
}

.navbar__list
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__item
{
    display: inline-block;
    list-style: none;
    font-size: 15px;
    font-weight: 700;
    color:var(--header-color);
    padding:0 10px;
    position: relative;
}

.navbar__item:hover 
{
    color:var(--hover-color);
    cursor: pointer;
}

.navbar__item:hover .navbar__item-top-down-menu
{
    display: block;
    animation: fadeIn ease 0.35s, growUp ease 0.35s;
}

.navbar__item-top-down-menu::before
{
    content:"";
    display: block;
    position: absolute;
    width:100%;
    height:10px;
    top:-10px;
}

.navbar__item-top-down-menu
{
    position: absolute;
    top:32px;
    left:10px;
    background-color: #fbd6db;
    min-width: 200px;
    display: none;
}

.navbar__item-top-down-menu-item
{
    list-style: none;
    border-bottom: 1px solid #fff;
    padding:10px 10px;
    font-weight: 300;
    font-size: 14px;
    color:var(--header-color);
}

.navbar__item-top-down-menu-item:hover 
{
    color:var(--hover-color);
}

.navbar__item-top-down-icon
{
    right:8px;
    position: absolute;
    text-align: center;
}

.navbar__item-top-down-menu-item:hover .menu__level-3-list
{
    display: block;
}

.menu__level-3-list
{
    position: absolute;
    left:100%;
    width:200px;
    background-color: #fdebee;
    display: none;
    margin-top:-29px; 
}

.menu__level-3-item
{
    list-style: none;
    border-bottom: 1px solid #fff;
    padding:10px 10px;
    font-weight: 300;
    font-size: 14px;
    color:var(--header-color);
}

.menu__level-3-item:hover 
{
    color:var(--hover-color);
}

.banner__col-1-img
{
    width: 100%;
}

.banner__col-2-img
{
    width:100%;
}

.banner__col-1-img:hover,.banner__col-2-img:hover
{
    opacity: 0.8;
    cursor: pointer;
}

.product__item-container
{
    width:256px;
    height:360px;    
    margin:20px 0;
}

.product__img-container
{
    width: 280px;
    height:280px;
    overflow: hidden;  
    position: relative; 
}

.product__img
{
    width:100%;
}

.product__img:hover 
{
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.product__header
{
    margin: 80px 0 0 0;
    font-weight:900;
    font-size: 30px;
    font-family: 'Nunito-ExtraBold';
}

.product__header:hover 
{
    color:var(--primary-color);
    cursor: pointer;
}

.product__desc
{
    font-weight: 700;
    height:54px;
    padding-top: 12px;
    font-family: 'Nunito-SemiBold';
    font-size: 16px;
}

.product__desc:hover 
{
    cursor: pointer;
    color:var(--primary-color);
}

.product__price
{
    font-family: 'Nunito-ExtraBold';
    line-height: 2.8;
    font-weight: bold;
    font-size: 18px;
}

.showmore__container
{
    padding:30px 0;
}

.showmore__btn
{
    width:108px;
    height:34px;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border:none;
    text-align: center;
    color:white;
    font-family: 'Nunito';
    border-radius: 4px;
}

.showmore__btn:hover 
{
    background-color: #fd8fa1;
    cursor: pointer;
}

.product__action
{
    background-color: rgba(255,176,189,.9);
    height:44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.product__action-icon
{
    color:white;
    font-size: 30px;
    padding:10px;
}

.product__action-icon:hover 
{
    cursor: pointer;
}

.product__img-container:hover .product__action 
{
    animation: popUp linear 0.3s;
    animation-fill-mode: forwards;
}

.theme__header-img
{
    width: 280px;
}

.theme__header-img:hover 
{
    transform: scale(1.1);
    transition-duration: 0.35s;
}

.theme__container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 12px;
}

.collection__img
{
    width:360px;
}

.collection__container
{
    width: 100%;
    padding:30px 0;
}

.collection 
{
    overflow: hidden;
    width:360px;
    height:240px;
}

.collection__img:hover 
{
    animation: zoomUp linear 0.5s;
}

.footer
{
    background-color: var(--primary-color);
    color:white;    
    border-bottom: 2px solid white;
}

.hotline,.places,.contact 
{
    padding: 30px 0;
}

.hotline__icon, .email__icon 
{
    padding-right: 8px;
}

.hotline__icon-and-num,.email__icon-and-address
{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 800;
    line-height: 1;
    padding-bottom: 18px;
}

.hotline__desc
{
    font-size: 14px;
    font-weight: 800;
    padding-bottom: 10px;
}

.places 
{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
}

.contact__icon
{
    width:24px;
}

.contact__notify-img
{
    width:114px;
}

.copyright 
{
    background-color: var(--primary-color);
    color:white;
    text-align: center;
}

.copyright__desc
{
    padding:24px 0;
}


